<!DOCTYPE html>
<html>
<head>
    <base href="." />
    <title>Cielo - Teste - Visão Lançamento</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bootstrap css -->
    <link rel="shortcut icon" href="./assets/imagens/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="./assets/imagens/favicon.ico" type="image/x-png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        a { cursor: pointer }
    </style>
</head>
<body>
    <app-lancamento></app-lancamento>
</body>
</html>
